* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding:20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}


.app__signup {
  display: flex;
  flex-direction: column;
}

.app__authButtons {
  display: flex;
  align-items: flex-end;
}

.app__image_upload {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-color: lightgrey;
}

.app__image_upload_progress {
  width: 100%
}
