.payment{
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234,237, 237);
  border-bottom: 1px solid lightgrey;
}

.payment__container > h1 > a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgrey;
}

.payment__title {
  flex: 0.25;
}

.payment__address, .payment__items, .payment__details {
  flex: 0.75;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h4 {
  padding-bottom: 20px;
}

.payment__priceContainer {
  margin:20px
}

.payment__button {
    color: black;
    font-weight: 700;
    border-color: darkgreen;
    background-color: #f0c14b;
    margin-top: 20px;
}